.container {
	margin: 8rem auto;
	max-width: 120rem;
	box-shadow: $shadow-dark;
	background-color: $color-grey-light-1;

	min-height: 50rem;
}

.header {
	border-bottom: $color-grey-light-1;
	height: 7rem;
	background-color: $color-white;
}

.content {
	display: flex;
}

.sidebar {
	flex: 0 0 18%;
	background-color: $color-grey-dark-1;
}

.hotel-view {
	flex: 1;
	background-color: $color-white;
}
