.container {
	margin: 8rem auto;
	min-height: 50rem;
	max-width: 120rem;
	box-shadow: $shadow-dark;
	background-color: $color-grey-light-1;
}

.header {
	@include flex;

	align-items: $align-center;
	justify-content: $justify-between;
	border-bottom: 1px solid $color-grey-light-2;
	height: 7rem;
	font-size: $font-size-md;
	background-color: $color-white;
}

.content {
	@include flex;
}

.sidebar {
	@include flex;

	flex: 0 0 $max-width - 82;
	flex-direction: column;
	justify-content: $justify-between;
	background-color: $color-grey-dark-1;
}

.hotel-view {
	flex: 1;
	height: 80rem;
}
