.container {
	margin: 8rem auto;
	min-height: 50rem;
	max-width: 120rem;
	box-shadow: $shadow-dark;
	background-color: $color-grey-light-1;

	@media only screen and (max-width: $breakpoint-largest) {
		margin: 0;
		max-width: 100%;
	}
}

.header {
	@include flex;

	align-items: $align-center;
	justify-content: $justify-between;
	border-bottom: $line;
	height: 7rem;
	font-size: $font-size-md;
	background-color: $color-white;

	@media only screen and (max-width: $breakpoint-smallest) {
		flex-wrap: $wrap;
		align-content: space-around;
		height: 11rem;
	}
}

.content {
	@include flex;

	@media only screen and (max-width: $breakpoint-medium) {
		flex-direction: column;
	}
}

.sidebar {
	@include flex;

	flex: 0 0 $max-width - 82;
	flex-direction: column;
	justify-content: $justify-between;
	background-color: $color-grey-dark-1;
}

.hotel-view {
	flex: 1;
}

.details {
	@include flex;

	border-bottom: $line;
	padding: 4.5rem;
	font-size: $font-size-md;
	background-color: $color-grey-light-1;

	@media only screen and (max-width: $breakpoint-medium) {
		padding: 3rem;
	}

	@media only screen and (max-width: $breakpoint-small) {
		flex-direction: column;
	}
}

.description {
	flex: 0 0 60%;
	margin-right: 4.5rem;
	padding: 3rem;
	box-shadow: $shadow-light-2;
	font-size: $font-size-md;
	background-color: $color-white;

	@media only screen and (max-width: $breakpoint-medium) {
		margin-right: 3rem;
		padding: 2rem;
	}

	@media only screen and (max-width: $breakpoint-small) {
		margin-right: 0;
		margin-bottom: 3rem;
	}
}

.user-reviews {
	flex: 1;
	text-align: $align-center;
}
