// Typografy
@mixin font {
	font-family: $font-family-base;
	font-weight: $font-weight-regular;
	line-height: $line-height-base;
	color: $text-color-base;
}

// Layout
@mixin centered($direction) {
	display: flex;
	flex-direction: $direction;
	align-items: $align-center;
	justify-content: $justify-center;
}

@mixin flex {
	display: flex;
}
