// --- COLORS --- //
// Primary Color

$color-primary: #eb2f64;
$color-primary-light: #f36;
$color-primary-dark: #ba265d;

// Gradient

$background-gradient: linear-gradient(
	to right bottom,
	$color-primary-light,
	$color-primary-dark
);

// Light color

$color-white: #fff;

// Grey Color Light

$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;

// Grey Color Dark

$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;

// Dark color

$color-black: #000;

// --- TYPOGRAPHY === //

// Font Size

$font-size-xxs: 0.8rem;
$font-size-xs: 1.2rem;
$font-size-s: 1.3rem;
$font-size-md: 1.4rem;
$font-size-lg: 2.2rem;

// Font Family

$font-family-base: "Open Sans", sans-serif;

// Font Weight

$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semi-bold: 600;

// Line Height

$line-height-sm: 1;
$line-height-base: 1.6;

// Text Color

$text-color-base: $color-grey-dark-1;

// --- SIZE --- //

$max-height-vh: 100vh;
$max-height: 100%;
$max-width: 100%;

// Border

$border-radius-base: 100px;
$rounded: 50%;
$thick: 3px solid $color-white;
$line: 1px solid $color-grey-light-2;

// Shadow

$shadow-light-1: 0 1rem 4rem rgba($color-black, 0.25);
$shadow-light-2: 0 1rem 5rem rgba($color-black, 0.06);
$shadow-dark: 0 2rem 6rem rgba($color-black, 0.3);

// --- ANIMATION --- //

// Transition

$transition-basic: all 0.3s ease;

// --- FLEX --- //

$align-center: center;
$align-left: left;
$align-stretch: stretch;
$justify-center: center;
$justify-between: space-between;
$wrap: wrap;
